.about-wrapper {
  color: $black;
  padding: 40px $small-gutter 70px;

  @include media('>medium') {
    padding: 120px 24% 322px;
  }
}

.about-content {
  @include media('>medium') {
    line-height: 125%;
    @include fontSize(24px);
  }
}
