.footer-top {
  padding: 70px $small-gutter 0;

  @include media('>medium') {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 82px $large-gutter;
  }

  @include media('>medium', '<1319px') {
    padding: 82px $small-gutter;
  }
}

.footer-logo-container {
  margin-bottom: 70px;

  @include media('>medium') {
    margin-right: 100px;
  }
}

.footer-logo-image {
  @include media('<medium') {
    height: 30px;
  }
}

.all-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links-container {
  &.first {
    width: 11ch;

    @include media('>medium') {
      width: 17ch;
    }
  }

  &.second {
    width: 16ch;

    @include media('>medium') {
      width: 23ch;
    }
  }

  &.third {
    width: 18ch;
  }
}

.footer-heading {
  color: $green;
  font-family: $nav-font;

  @include media('>medium') {
    margin-top: 0;
  }
}

.footer-links-list-item,
.footer-link {
  color: $blue2;
  font-style: normal;
  line-height: 144%;
}

.footer-links-list-item {
  margin-top: 12px;
}

.footer-link {
  display: inline-block;
}

.footest {
  background: $light3;
  font-family: $nav-font;
  margin-top: 70px;
  padding: 22px $small-gutter;

  @include media('>medium') {
    padding: 27px $large-gutter;
  }

  @include media('>medium', '<1319px') {
    padding: 27px $small-gutter;
  }
}

.footest-text {
  color: $green;
}
